* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.search-icon {
  margin-left: 20px;
  cursor: pointer;
}

.hero {
  background-image: url("https://i.pinimg.com/736x/62/b4/99/62b4991e1a2b3efc4bf75fc6646c1032.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 80px;
  text-align: center;
  color: white;
  border-radius: 12px;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-text {
  font-size: 48px;
  margin-bottom: 20px;
}

.cat-btn {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid white;
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 12px;
  transition: background 0.3s, color 0.3s;
}

.cat-btn:hover {
  background: white;
  color: black;
}


.categories {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
  background: white;
  text-align: center;
}

.category h3 {
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

.category img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}
.quote-box {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid rgb(8, 0, 0);
  border-radius: 12px;
  background-color: rgba(13, 0, 0, 0.643);
  color: white;
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 1s ease-in-out;
}
.quote{
  background-color: rgb(250, 252, 252);
}